<figure class="card fade-in">
  <div class="card__title-box">
      <h2 class="card__title">{%EVENT_NAME%}</h2>
  </div>
  <div class="card__details">
      <div class="host-name card__detail-box">
          <h2>{%HOST_NAME%}</h2>
      </div>
      <div class="card__detail-box">
          <h6 class="card__detail">{%LOCATION%}</h6>
      </div>
      <div class="card__detail-box">
          <h6 class="card__detail card__detail--price">{%TIME%}</h6>
      </div>
  </div>
  <a class="card__link" href="/events/{%ID%}">Details 👉</a>
</figure>